#calendar * {
  --calendarcolor: rgb(175, 175, 175);
}

#calendar {
  max-width: 900px;
  text-align: center;
  overflow-x: scroll;
}

#calendar table {
  border-radius: 50px;
  border-spacing: 0px;
  border-collapse: collapse;
}

#calendar td {
  height: 100px;
  min-width: 150px;
  background-color: white;
  border: var(--calendarcolor) solid 2px;
}

#calendar .header td {
  background-color: whitesmoke;
  height: initial;
}

.calendar-sunday {
  color: red;
}

.calendar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 15px;
}

#calendar button {
  font-size: 15pt;
  padding: 5px;
  background-color: rgb(196, 196, 196);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
