.shopping-cart {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
}

.item {
  padding: 20px 30px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.item img {
  height: 100px;
  width: 100px;
  margin-right: 50px;
}

button[class*="btn"] {
  width: 30px;
  height: 30px;
  background-color: rgb(196, 196, 196);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-plus img {
  width: 15px;
  height: 15px;
  margin: 0px;
}

.btn-minus img {
  height: 15px;
  width: 15px;
  margin: 0px;
}

.item button:focus,
input:focus {
  outline: 0;
}

.description {
  padding-top: 20px;
  margin-right: 20px;
  width: 115px;
}

.description span {
  display: block;
  text-align: left;
  font-size: 14px;
  color: #43484d;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #4e4f50;
}

.unit-price {
  width: 80px;
  padding-top: 20px;
  text-align: center;
  margin-right: 70px;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}

.total-price {
  width: 80px;
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
  color: #43484d;
  font-weight: 300;
}

.quantity {
  margin-right: 60px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
}

.quantity input {
  width: 30px;
  height: 30px;
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  background-color: rgb(230, 230, 230);
}

.btn-delete img {
  width: 18px;
  height: 17px;
  cursor: pointer;
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

.total {
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.total-amount {
  text-align: center;
  padding: 20px 20px;
  margin-bottom: 30px;
}

.total-amount h2 {
  color: rgb(37, 0, 248);
}

#total-cart-amount {
  font-size: 30px;
  margin-top: 20px;
  color: #43484d;
  font-weight: 500;
}


#btn-buy a{
  background: var(--secondarycolor);
  width: 100%;
  height: 30px;
  border: solid 3px var(--secondarycolor);
  border-radius: 1px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#btn-buy a:hover{
  filter: brightness(1.2);
}

#btn-continue-shopping a{
  width: 100%;
  height: 30px;
  border-style: solid;
  border-width: 3px;
  border-radius: 1px;
  border-color: var(--secondarycolor);
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  color: #43484d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#btn-continue-shopping a:hover{
  background: var(--secondarycolor);
  color: white;
}

@media (max-width: 1007px){
  .item:nth-child(1) {
    border:none;
  }
  .item:nth-child(n) {
    border:none;
  }
  .item{
    margin-bottom: 100px;
  }
}

@media (max-width: 549px){
  .item{
    margin-bottom: 150px;
  }
}

@media (max-width: 429px){
  .item{
    margin-bottom: 200px;
  }
}


@media (max-width: 359px){
  .btn-delete img {
    margin-left: 30px;
    margin-bottom: 10px; 
  }

  .item{
    margin-bottom: 300px;
  }
}