/* Leonardo Moreira Kobe    NºUSP: 9778623
Rafael Tavares Oliveira          NºUSP: 11219071
Eduardo Souza Rocha           NºUSP: 11218692 */

.dropdown{
    position: absolute;
    top: 60px;
    background: var(--secondarycolor);
    z-index: 100000;
}

.dropdown ul{
    list-style: none;
}

.dropdown ul li{
    padding: 5px 20px;
    margin: 10px 0;
    background: var(--secondarycolor);
    cursor: pointer;
}
.dropdown ul li:hover{
    filter: brightness(1.2);
}
.dropdown ul li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
}