#profile-pic {
  display: flex;
  flex-direction: column;
  justify-self: center;
}
#profile-pic img {
  max-width: 200px;
  max-height: 200px;
}

#profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#profile-form * {
  margin: 5px;
  padding: 10px;
}

.datawrap {
  display: flex;
  align-items: center;
  justify-content: unset;
  width: 100%;
}
