.dropdown{
    position: absolute;
    top: 60px;
    background: var(--secondarycolor);
}

.dropdown ul{
    list-style: none;
}

.dropdown ul li{
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    padding: 5px 20px;
    margin: 10px 0;
    background: var(--secondarycolor);
    cursor: pointer;
}
.dropdown ul li:hover{
    filter: brightness(1.2);
}
.dropdown ul li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pop{
    position: absolute;
    left: 80%;
    padding: 3px 7px;
    background: red;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    transform: translate(30%, -50%);
}